
<h1>Information Students</h1>

<!-- tim kiem sinh vien -->
<%= form_tag(search_student_path, method: :get) do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Nhập tên sinh viên' %>
  <%= submit_tag 'Tìm Kiếm' %>
<% end %>
<script src="student.js"></script>

<table id="studentTable">
  <tr>
    <th>Student Code</th>
    <th>Student Name</th>
    <th>Date of birth</th>
    <th>Address</th>
    <th>Gmail</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>

  <% @student.each do |student| %>
    <tr>
      <td><%=  student.student_code  %></td>
      <td><%=  student.student_name %></td>
      <td><%=  student.date_of_birth  %></td>
      <td><%=  student.address  %></td>
      <td><%=  student.gmail  %></td>
      <td><%=  student.phone  %></td>
      <td><%= link_to 'Edit', "/student/#{student.id}" %></td>
      <td><%= button_to 'Xóa', student_path(student.id), method: :delete %></td>
    </tr>
  <% end %>
</table>


<!-- tao bang sinh vien -->
<%= link_to 'Thêm Sinh Viên', new_student_path %>

<style>
    table{
        background-color: aliceblue;
    }
    table,tr,th,td{
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
