<h1>Information Students</h1>

<h2>Search here</h2>
<input type="text" id="fname" name="fname"><br><br>
<input type="submit">
<table>
  <tr>
    <th>Student Code</th>
    <th>Student Name</th>
    <th>Date of birth</th>
    <th>Address</th>
    <th>Gmail</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>

  <% @student.each do |student| %>
    <tr>
      <td><%=  student.student_code  %></td>
      <td><%=  student.student_name %></td>
      <td><%=  student.date_of_birth  %></td>
      <td><%=  student.address  %></td>
      <td><%=  student.gmail  %></td>
      <td><%=  student.phone  %></td>
      <td><%= link_to 'Edit', "/student/#{student.id}" %>
      <td><%= button_to 'Xóa', student_path(student.id), method: :delete %></td>


    </tr>
  <% end %>

</table>

<style>
    table{
        background-color: aliceblue;
    }
    table,tr,th,td{
        padding: 20px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
