<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h1>Thêm thông tin sinh viên</h1>
<%= form_with(model: @student, url: student_index_path,  method: :post, local: true) do |form| %>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :student_code %></label>
    <%= form.text_field :student_code,  class:'form-control'%>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :student_name %></label>
    <%= form.text_field :student_name,  class:'form-control'%>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :date_of_birth %></label>
    <%= form.text_field :date_of_birth,  class:'form-control'%>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :address %></label>
    <%= form.text_field :address,  class:'form-control'%>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :gmail %></label>
    <%= form.text_field :gmail,  class:'form-control'%>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :phone %></label>
    <%= form.text_field :phone,  class:'form-control'%>
  </div>

  <%= form.submit 'Lưu' %>
<% end %>
<%= link_to 'Quay lại', student_index_path %>

