<h1>Kết Quả Tìm Kiếm</h1>

<% if @student.present? %>
  <table>
    <!-- ... Bảng hiển thị kết quả tìm kiếm ... -->
    <thead>
    <tr>
      <th>Ma sinh vien</th>
      <th>Tên Sinh Viên</th>
      <th>Ngay sinh</th>
      <th>Dia chi</th>
      <th>Gmail</th>
      <th>So dien thoai</th>
    </tr>
    </thead>
    <tbody>
    <% @student.each do |student| %>
      <tr>
        <td><%= student.student_code %></td>
        <td><%= student.student_name %></td>
        <td><%= student.date_of_birth %></td>
        <td><%= student.address %></td>
        <td><%= student.gmail %></td>
        <td><%= student.phone %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Không có kết quả nào.</p>
<% end %>

<style>
    table{
        background-color: aliceblue;
    }
    table,tr,th,td{
        padding: 15px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>