<h1>Edit information students</h1>
<h2>Thong tin sinh vien</h2>

<p><strong>Ma sinh vien:</strong> <%= @student.student_code %></p>
<p><strong>Tên Sinh Viên:</strong> <%= @student.student_name %></p>
<p><strong>Ngay sinh:</strong> <%= @student.date_of_birth %></p>
<p><strong>Dia chi:</strong> <%= @student.address %></p>
<p><strong>Gmail:</strong> <%= @student.gmail %></p>
<p><strong>Phone:</strong> <%= @student.phone %></p>



<button onclick="goBack()">Quay Lại</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<%= link_to 'Chỉnh Sửa', edit_student_path(@student) %>












