<h1>Chỉnh sửa thông tin sinh viên</h1>
<h2>Thông tin sinh viên</h2>

<p><strong>Mã Sinh Viên:</strong> <%= @student.student_code %></p>
<p><strong>Tên Sinh Viên:</strong> <%= @student.student_name %></p>
<p><strong>Ngày Sinh:</strong> <%= @student.date_of_birth %></p>
<p><strong>Địa Chỉ:</strong> <%= @student.address %></p>
<p><strong>Gmail:</strong> <%= @student.gmail %></p>
<p><strong>Số Điện Thoại:</strong> <%= @student.phone %></p>



<%= link_to 'Quay Lại', back_to_index_student_index_path %> |
<%= link_to 'Chỉnh Sửa', edit_student_path(@student) %>












