<h1>Information teachers</h1>
<p><strong>Teacher code</strong> <%= @teacher.teacher_code %></p>
<p><strong>Teacher name</strong> <%= @teacher.teacher_name %></p>
<p><strong>Date of birth</strong> <%= @teacher.date_of_birth %></p>
<p><strong>Gender</strong> <%= @teacher.gender %></p>
<p><strong>Gmail</strong> <%= @teacher.gmail %></p>
<p><strong>Phone</strong> <%= @teacher.phone %></p>
<%=link_to 'Edit', edit_teacher_path(@teacher) %> |

<%= link_to 'Quay Lại', back_to_index_teacher_index_path %> |
<%= link_to 'Chỉnh Sửa', edit_teacher_path(@teacher) %>
